<form action="/item/{{item.id}}" method="POST">
    <h2><input type="text" name="title" id="title" value="{{item.title}}"></h2>
    <input type="text" name="body" id="body" value="{{item.body}}">
    <input type="submit" value="save">
</form>